<div class="row form-group" ng-form="{{field}}" ng-class="{'has-error':{{field}}.$dirty && {{field}}.$invalid }">
	<label class="col-sm-2 control-label">{{ field|SentenceCase}}<span ng-if="required">*</span></label>
	<div class="col-sm-6" ng-switch="required">
	<input ng-switch-when="true" ng-model="record[field][0]" type="record[field][1]" form-control="form-control" required ng-change="update()" ng-blur="blurUpdate()"/>
	<div class="input-group" ng-switch-default>	
	<input ng-model="record[field][0]" type="record[field][1]" form-control="form-control"  ng-change="update()" ng-blur="blurUpdate()"/>
	<span class="input-group-btn">
		<button class="btn btn-default" ng-click="remove(field)">
	</span>
	</div>
</div>
